{% extends 'base.twig' %}

{% block title %}Liste des produits{% endblock %}
{% block body %}<h1>Liste des produits</h1>
{% for product in products %}
    <div class="card" style="width: 40%;margin:5px;">
        <figure style="width:100%;height:400px;padding:10px">
            <img src="/img/{{ product.imageName }}" class="card-img-top img-fluid mw-100 mh-100 rounded-circle" alt="Image de {{ product.name }}">
        </figure>
        <div class="card-body">
            <h5 class="card-title w-100 text-center">{{ product.name }} - {{ product.price }}€</h5>
            <p class="card-text">{{ product.description | resume }}</p>
            <a href="#" class="btn btn-dark btn-block">Acheter!</a>
        </div>
    </div>
{% endfor %}

</div></main>

{% endblock %}